*{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
button{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e7ad44;
    border: 1px none;
}
button:hover{
    cursor: pointer;
    background-color: #e78844;
}
.carousel-control{
    z-index: 2;
}
.wrapper{
    width: 100%;
    height: 100vh;
}
/* nav */
.header-nav{
    width: 100%;
    height: 100%;
    background-color: #ebe8e7;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-left-side{
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-left-side>img{
    height: 100%;
}
.nav-middle-side,.nav-right-Side{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav-right-side>div, .nav-middle-side>div{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
}
.nav-middle-side>div:hover,.nav-right-side>div:hover{
    color: #e7ad44;
    cursor: pointer;
}
.nav-detail>button{
    font-weight: 700;
    color: #ffffff;
}
/* main trang chủ*/
.main-trang-chu{
    width: 100%;
    height: calc(100vh - 80px);
}
.main-section-1-content>h2{
    position: absolute;
    width: 100%;
    top: 33%;
    text-align: center;
    color: #ffffff;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Sawarabi Mincho', sans-serif;
}