*{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
section{
    margin: 65px 10%;
}
body{
    width: 100%;
    height: 100vh;
}
button{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e7ad44;
    border: 1px none;
}
button:hover{
    cursor: pointer;
    background-color: #e78844;
}
.input-wrapper{
    width: 100%;
}
i:hover{
    cursor: pointer;
}
a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
h3{
    font-size: 40px;
    font-weight: 900;
}
.carousel-control{
    z-index: 2;
}
.wrapper{
    width: 100%;
}

/* nav */
.header-nav{
    width: 100%;
    height: 100%;
    background-color: #ebe8e7;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-left-side{
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-left-side>img{
    height: 100%;
}
.nav-middle-side,.nav-right-Side{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav-right-side>div, .nav-middle-side>div{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
}
.nav-middle-side>div:hover,.nav-right-side>div:hover{
    color: #e7ad44;
    cursor: pointer;
}
.nav-detail>button{
    font-weight: 700;
    color: #ffffff;
}
.icon{
    display: none;
}
/* main trang chủ*/
.main-trang-chu{
    width: 100%;
}
/* main-section-1 */
.main-section-1,.main-section-3{
    margin: 0em;
    position: relative;
}
.main-section-1-content{
    width: 100%;
    top: 34%;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section-1-content>h2{
    color: #ffffff;
    font-size: 120px;
    font-weight: 700;
    font-family: 'Sawarabi Mincho', sans-serif;
}
/* .main-section-2 */
.main-section-2-title>span,.main-section-4-title>span{
    font-size: 25px;
    font-weight: 600;
}
.main-section-2-content{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.main-section-2-content>*{
    padding: 10px;
    padding-left: 0px;
    padding-bottom: 50px;
}
/* main section 3 */
.main-section-3 .row{
    margin: 0;;
}
.main-section-3 .row .col-sm-3{
    padding: 0%;
}
.box{
    width: 100%;
    height: 370px;
    position: relative;
}
.view {
    width: 100%;
    height: auto;
    margin: 0px;
    float: left;
    border: 0px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff no-repeat center center
}

.view img {
    display: block;
    position: relative;
    filter: contrast(0.4);
}

.view-first img {
    transition: all 0.2s linear;
    width: 100%;
}

.view-first:hover  img  {
    transform : scale(1.1) ;
 }
.image-text{
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    bottom: auto !important;
    z-index: 16;
    left: 0;
    right: 0;
}
.box-content{
    width: 100%;
    top: 50%;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-content>h4{
    
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;

}
.main-section-4 .row{
    margin: 0;
}
.main-section-4-content .col-sm-4{
    padding: 0%;
    padding-right: 20px;
}
/* .main-section-5 */
.main-section-5{
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.main-section-5 .main-section-5-img{
    width: 25%;
    height: 30vh;
}
.main-section-5-img>img{
    width: 100%;
    height: 100%;
}
.main-section-5-img>img:hover{
    filter: brightness(50%);
}
/* tamp */
html{
    font-family: sans-serif;
    font-size: 16px;
}
/* giới thiệu */
.gioithieu-banner-1{
    width: 100%;
    height: 252px;
}

.gioithieu-gach{
    position: relative;
    padding-left: 70px;
    color: goldenrod;
    font-weight: 700;
}
.gioithieu-gach::before{
    content: "";
    border-bottom: 2.5px solid goldenrod;
    width: 60px;
    position: absolute;
    left: 0;
    top: 50%;
}
.gioithieu-text{
    font-size: 250%;
    font-weight: 550;
    padding-top: 20px;

}
.gioithieu-text-wapper{
    padding-top: 30px;
    color: gray;
    line-height: 25px;
}
.gioithieu-text-wapper > *{
    padding-bottom: 30px;
}
.gioithieu-slider{
    height: 405px;
    background: green;
}
.gioithieu-banner-2{
    height: 600px;
    width: 100%;
}
.gioithieu-room-wapper > *{
    margin-bottom: 30px;
}
.gioithieu-room-wapper > p{
    font-weight: 500;
    font-size: 120%;
    color: grey;
}
.gioithieu-room-img{
    width: 90%;
}
.gioithieu-footer-1{
    width: 100%;
    height: auto;
    max-height: 980px;
    padding: 30px 10%;
    background: #ebe8e7;
    color: gray;
    display: inline-block;
}
.gioithieu-footer-1 > *{
    padding-bottom: 30px;
}
.gioithieu-footer-1-lienhe > *{
    list-style: none;
    line-height: 30px;
}
.gioithieu-height{
    line-height: 25px;
    padding-right: 30px;
}
.gioithieu-btn{
    text-decoration: none;
    height: 30px;
    width: 100px;
    background: goldenrod;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-weight: 500;
}
.gioithieu-btn:hover{
    text-decoration: none;
}
/* room */
.room-img{
    width: 100%;
    transition: all 0.5s;
}
.room-wapper{
    border: 1px solid gray;
    margin-bottom: 30px;
}
.room-wapper > *{
    padding-bottom: 20px;
}
.room-wapper > div{
    text-indent: 20px;
}
.room-wapper > p{
    text-indent: 10px;
}
.room-gach{
    position: relative;
    padding-top: 30px;
}
.room-gach::before{
    content: "";
    width: 50px;
    position: absolute;
    border: 1px solid gray;
    top: 0px;
}
.room-img:hover{
    filter: brightness(50%);
}
.footer-logo{
    width: 50%;
}
.a{
    color: gray;
    cursor: pointer;
}
.a:hover{
    color: #e7ad44;
    text-decoration: none;
}
.ul{
    list-style: none;
    text-indent: 10px;
}
.ul > li{
    line-height: 25px;
}
/* <<<<<<< HEAD */

/* register ,login */

.register-logIn{
    position: relative;
    padding-left: 70px;
    color: goldenrod;
    font-weight: 700;
  
}
.welcome{
    padding: 50px 0px 0px 100px ;
}
.register-logIn::before{
    content: "";
    border-bottom: 2.5px solid goldenrod;
    width: 60px;
    position: absolute;
    left: 0;
    top: 50%;
}

.register-container{
    display: flex;
    
}
.log-in-container{
    display: flex;
    
}
.form-header{
    text-align: center;
    padding-bottom: 10px;
}
input {
    width: 100%;
    height: 38px;
    padding: 10px;
    border: 1px solid #ecedec;
    border-radius: 5px;
  }
  
a {
    color: #000000;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
.form-footer button {
    width: 120px;
    max-height: 45px;
    line-height: 15px;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    background: goldenrod;
  }
  
.form-footer button:hover {
    cursor: pointer;
  }
  
.form-footer button:disabled{
    background: #5f5d5d;
  }
.btn-icon> i{
    width: 30px;
    height: 30px;
}
.form-register {
    max-width: 500px;
    background: #f2f2f2;
    padding: 30px 50px 30px 50px;
    margin-left: 100px;
}
.form-log-in {
    max-width: 500px;
    background: #f2f2f2;
    padding: 30px 50px 30px 50px;
    margin-left: 100px;
}
.form-content>* {
    margin-bottom: 10px;
}
.name-wrapper {
    display: flex;
    justify-content: space-between;
}

.name-wrapper>* {
    width: calc(50% - 5px);
  }
  
.form-footer {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
  }
  
.lienhe{
    padding: 0px 0px 0px 60px
}
.p{
    margin-top: 10px;
    color: #a59b9b;
}
.message-error{
    color: #ff0000;
    line-height: 25px;
}
.message-success{
    color: #00ff00;
    line-height: 25px;
}
 /* ======= */
.messenger { 
    position: fixed;
    top: 50%;
    left: 10px;
    height: 100%;
    z-index: 9999;
}
.messenger-container{
    display: none;
    height: 40vh;
    background-color: #ffffff;
}
.messenger-nav{
    height: 35px;
    background-color: #4482ff;
    display: flex;
    justify-content: space-between;
}
.current-conversation{
    height: calc(40vh - 59px);
}
.list-messages{
    height: 100%;
    overflow-y: scroll;
}
.list-messages>*{
    margin-bottom: 10px;
    padding: 10px;
}
.message>span{
    display: inline-block;
    max-width: 50%;
    word-break: break-word;
    padding: 10px;
    border: 2px solid #4482ff;
    border-radius: 5px ;
}

.your{
    display: flex;
    justify-content: flex-end;
}
.form-send-message{
    display: flex;
    justify-content: space-between;
}
.form-send-message>button{
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

/* booked */
.booked-wapper>*{
    margin-bottom: 20px;
}
.booked-line{
    width: 100%;
    border: 1px solid gray;
}
.booked-line>*{
    display: block;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 90%;
    height: 40px;

}
.booked-line > input{
    box-shadow: 1px -1px 5px gray;
    text-indent: 10px;
}
.slider{
    height: 500px;
}
.room-booked-info{
    display: flex;
}
@media only screen and (max-width: 600px) {
    .main-section-1-content{
        top: 41%;
    }
    .main-section-1-content>h2{
        color: #ffffff;
        font-size: 50px;
        font-weight: 700;
        font-family: 'Sawarabi Mincho', sans-serif;
    }
    .main-section-5{
        display: inline;
    }
    .main-section-5 .main-section-5-img{
        width: 100%;
        height: 50vh;
    }
    .messenger-container{
        height: 60vh;
    }
    .current-conversation{
        height: calc(60vh - 40px);
    }
    .header-nav.responsive {position: relative;}
    .header-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-middle-side>* {
        display: none;
    }
    .nav-right-side>*{
        display: none;
    }
    .icon{
        position: relative;
        display: block;
    }
    .nav-responsive{
        display: none;
        width: 100%;
        background-color: #333333;
        position: absolute;
        z-index: 9999;
    }
    .nav-responsive>*{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    a:hover{
        color: #4482ff;
        text-emphasis: underline;
    }
    .messenger{
        top: 25%;
    }
/* >>>>>>> 5b35eff936edd6d87452e92f18abf27e87f94bdf */
}